<!-- русский -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Хочешь узнавать первым о наших акциях и новостях?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">подписаться</button>
		</div>
		<p class="subscribe__p">
			Подпишись на рассылку по нашим акциям и предложениям
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			Вы подписались, информация будет приходить на {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			Вы ввели некорректный E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>

<!-- українська -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Хочеш дізнаватися першим про наші акції та новини?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">підписатися</button>
		</div>
		<p class="subscribe__p">
			Підпишись на розсилку по нашим акціям і пропозиціям
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			Ви підписалися, інформація буде приходити на {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			Ви ввели некоректний E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>

<!-- english -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Do you want to be the first to know about our promotions and news?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">subscribe</button>
		</div>
		<p class="subscribe__p">
			Subscribe to the newsletter for our promotions and offers
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			You have subscribed, the information will be sent to {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			You entered incorrect E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>