<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:image" content="/og-image.jpg">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	<meta property="og:description" content="Everything you need to know about the topic you are looking for">
	<meta property="og:url" content="http://example.com">
	<meta property="og:title"
		content="Питьевая вода &laquo;AVANA&raquo; - выбор серьезных современных людей, которым важна стабильность, престиж и безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.">



	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
	<link rel="stylesheet" href="css/style.min.css">
	<title>Каталог - Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
		безопасность
		во всех вопросах и, в первую очередь, в вопросах здоровья.</title>
</head>

<body>
	<div id="app">
		<header class="header">
			<div class="container">
				<div class="header__wrap">
					<a href="index.html" class="header__logo" title="На главную">
						<svg class="logo" viewBox="0 0 145 55">
							<use xlink:href="img/icons/icons.svg#LogoBlue" />
						</svg>
					</a>

					<!-- русский -->
					<div class="header__text" v-if="rus">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Вс:&nbsp;<span class="header__span">выходной</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Только по Киеву
						</p>
					</div>

					<!-- українська -->
					<div class="header__text" v-if="ukr">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Нд:&nbsp;<span class="header__span">Вихідний</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Тільки по Київу
						</p>
					</div>

					<!-- english -->
					<div class="header__text" v-if="usa">
						<p class="header__schedule">Mon-Fri:&nbsp;<span class="header__span">07:00 AM - 8:00 PM</span>
						</p>
						<p class="header__schedule">Sat:&nbsp;<span class="header__span">08:00 AM - 4:00 PM</span></p>
						<p class="header__schedule">Sun:&nbsp;<span class="header__span">day off</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Only in Kiev
						</p>
					</div>
					<div class="header__links">
						<a href="tel:+380445029191" class="header__link" title="Позвонить сейчас">(044) 502-91-91</a>
						<button class="header__button" title="Мой аккаунт">
							<svg class="header__svg" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#Reg" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#RegBlue" />
							</svg>
						</button>

						<a href="cart.html" class="header__button" title="Корзина">
							<svg class="header__svg" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#Cart" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#CartBlue" />
							</svg>
							<p class="header__counter" v-if="countProduct">
								{{countProduct}}
							</p>
						</a>
						<div id="burger" class="burger" title="Меню" @click="burgerMenu">
							<span id="burgerline1" class="burger__line"
								:class="[burger ? 'burger__line_reversrotate45' : '']"></span>
							<span id="burgerline2" class="burger__line "
								:class="[burger ? 'burger__line_hidden' : '']"></span>
							<span id="burgerline3" class="burger__line "
								:class="[burger ? 'burger__line_rotate45' : '']"></span>
						</div>
					</div>
					<div id="menu" class="menu" :class="[burger ? '' : 'menu__hidden']">
						<!-- русское меню -->

						<a href="#" class="menu__link" v-if="rus">Мой аккаунт</a>
						<a href="index.html#about" class="menu__link" v-if="rus">О воде</a>
						<a href="catalog.html" class="menu__link" v-if="rus">Каталог</a>
						<a href="#" class="menu__link" v-if="rus">Бизнесу</a>
						<a href="#" class="menu__link" v-if="rus">Новым клиентам</a>
						<a href="#" class="menu__link" v-if="rus">Доставка и оплата</a>
						<a href="#" class="menu__link" v-if="rus">Контакты</a>

						<!-- українське меню -->

						<a href="#" class="menu__link" v-if="ukr">Мій аккаунт</a>
						<a href="index.html#about" class="menu__link" v-if="ukr">Про воду</a>
						<a href="catalog.html" class="menu__link" v-if="ukr">Каталог</a>
						<a href="#" class="menu__link" v-if="ukr">Бізнесу</a>
						<a href="#" class="menu__link" v-if="ukr">Новим клієнтам</a>
						<a href="#" class="menu__link" v-if="ukr">Доставка та оплата</a>
						<a href="#" class="menu__link" v-if="ukr">Контакти</a>

						<!-- english menu -->

						<a href="#" class="menu__link" v-if="usa">Account</a>
						<a href="index.html#about" class="menu__link" v-if="usa">About water</a>
						<a href="catalog.html" class="menu__link" v-if="usa">Catalog</a>
						<a href="#" class="menu__link" v-if="usa">For bussines</a>
						<a href="#" class="menu__link" v-if="usa">For new clients</a>
						<a href="#" class="menu__link" v-if="usa">Delivery & Pay</a>
						<a href="#" class="menu__link" v-if="usa">Contacts</a>
					</div>

				</div>
			</div>
		</header>

		<div class="modal__product" v-if="showProduct" @click="closeProduct">
			<div class="product__window">
				<!-- русский -->
				<div class="product__container" @click.stop v-if="rus">
					<div class="product__imgs">
						<img :src="modal.img" :alt="modal.title" class="product__img">
					</div>
					<div class="product__content">
						<h3 class="product__h3 title__h3">{{modal.title}}</h3>
						<p class="product__description">
							{{modal.discription}}
						</p>
						<div class="product__wrap">
							<div class="product__sale" v-if="modal.rent">
								<p class="product__method">
									Аренда
								</p>
								<p class="product__text">
									на 1 месяц - {{modal.rent}} грн
								</p>
								<p class="product__text">
									на 6 месяцев - {{(modal.rent * 5)}} грн
								</p>
							</div>
							<div class="product__delimiter" v-if="modal.rent"></div>
							<div class="product__sale">
								<p class="product__method">
									Продажа
								</p>
								<p class="product__text">
									1 кулер - {{modal.price}} грн.
								</p>
								<p class="product__text">

								</p>
							</div>
						</div>
						<div class="product__wrap">
							<button class="product__btn btns product__btn_orange"
								@click="addProduct(modal)">купить</button>
							<button class="product__btn btns product__btn_blue" @click="buyOneClick(modal)">в 1
								клик</button>
						</div>
					</div>
				</div>

				<!-- українська -->
				<div class="product__container" @click.stop v-if="ukr">
					<div class="product__imgs">
						<img :src="modal.img" :alt="modal.title" class="product__img">
					</div>
					<div class="product__content">
						<h3 class="product__h3 title__h3">{{modal.titleUkr}}</h3>
						<p class="product__description">
							{{modal.discriptionUkr}}
						</p>
						<div class="product__wrap">
							<div class="product__sale" v-if="modal.rent">
								<p class="product__method">
									Оренда
								</p>
								<p class="product__text">
									на 1 місяць - {{modal.rent}} грн
								</p>
								<p class="product__text">
									на 6 місяців - {{(modal.rent * 5)}} грн
								</p>
							</div>
							<div class="product__delimiter" v-if="modal.rent"></div>
							<div class="product__sale">
								<p class="product__method">
									Продаж
								</p>
								<p class="product__text">
									1 кулер - {{modal.price}} грн.
								</p>
								<p class="product__text">

								</p>
							</div>
						</div>
						<div class="product__wrap">
							<button class="product__btn btns product__btn_orange"
								@click="addProduct(modal)">Придбати</button>
							<button class="product__btn btns product__btn_blue" @click="buyOneClick(modal)">в 1
								клік</button>
						</div>
					</div>
				</div>

				<!-- english -->
				<div class="product__container" @click.stop v-if="usa">
					<div class="product__imgs">
						<img :src="modal.img" :alt="modal.title" class="product__img">
					</div>
					<div class="product__content">
						<h3 class="product__h3 title__h3">{{modal.titleUsa}}</h3>
						<p class="product__description">
							{{modal.discriptionUsa}}
						</p>
						<div class="product__wrap">
							<div class="product__sale" v-if="modal.rent">
								<p class="product__method">
									Rentals
								</p>
								<p class="product__text">
									to 1 month - {{modal.rent}} UAH
								</p>
								<p class="product__text">
									to 6 months - {{(modal.rent * 5)}} UAH
								</p>
							</div>
							<div class="product__delimiter" v-if="modal.rent"></div>
							<div class="product__sale">
								<p class="product__method">
									Selling
								</p>
								<p class="product__text">
									1 cooler - {{modal.price}} UAH
								</p>
								<p class="product__text">

								</p>
							</div>
						</div>
						<div class="product__wrap">
							<button class="product__btn btns product__btn_orange"
								@click="addProduct(modal)">BUY</button>
							<button class="product__btn btns product__btn_blue" @click="buyOneClick(modal)">in 1
								click</button>
						</div>
					</div>
				</div>

				<button class="product__close" @click="closeProduct">Close &#10006;</button>
			</div>
		</div>




		<div id="anchor" class="anchor"></div>
		<section class="general">
			<div class="socials">
				<a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="socials__link"
					title="Facebook">
					<svg class="socials__svg" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#Facebook" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#FacebookBlue" />
					</svg>
				</a>
				<a href="viber://chat?number=%2B380961712071" target="_blank" class="socials__link" title="Viber">
					<svg class="socials__svg" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#Viber" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#ViberBlue" />
					</svg>
				</a>
				<a href="https://t.me/TimSolo" target="_blank" class="socials__link" title="Telegram">
					<svg class="socials__svg" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#Telegram" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#TelegramBlue" />
					</svg>
				</a>
			</div>
			<div class="container">



				<!-- русский -->
				<div class="way" v-if="rus">
					<a href="index.html" class="way__link">Главная</a>
					<a href="" class="way__link">Каталог</a>
				</div>
				<!-- українська -->
				<div class="way" v-if="ukr">
					<a href="index.html" class="way__link">Головна</a>
					<a href="" class="way__link">Каталог</a>
				</div>
				<!-- english -->
				<div class="way" v-if="usa">
					<a href="index.html" class="way__link">Main</a>
					<a href="" class="way__link">Catalog</a>
				</div>



				<div class="general__container">
					<a href="#pomps" class="general__anchor">


						<!-- русский -->
						<div class="general__wrap" v-if="rus">
							<p class="general__p">Помпы</p>
							<p class="general__p">Кулеры</p>
							<svg class="general__svg" viewBox="0 0 8 211">
								<use xlink:href="img/icons/icons.svg#GeneralArrow" />
							</svg>
						</div>
						<!-- українська -->
						<div class="general__wrap" v-if="ukr">
							<p class="general__p">Помпи</p>
							<p class="general__p">Кулери</p>
							<svg class="general__svg" viewBox="0 0 8 211">
								<use xlink:href="img/icons/icons.svg#GeneralArrow" />
							</svg>
						</div>
						<!-- english -->
						<div class="general__wrap" v-if="usa">
							<p class="general__p">Pomps</p>
							<p class="general__p">Coolers</p>
							<svg class="general__svg" viewBox="0 0 8 211">
								<use xlink:href="img/icons/icons.svg#GeneralArrow" />
							</svg>
						</div>
					</a>
					<!--  -->
					<div class="general__content">
						<!-- русский -->
						<div class="general__shell general__shell_mb60" v-if="rus">
							<h2 class="general__h2">Вода Avana 18,9 л</h2>
							<p class="general__text">
								Сертификаты: ISO 22000/HACCP, соответствия УКРСЕПРО
							</p>
							<p class="general__text">
								Источник:
								артезианская скважина
							</p>
							<p class="general__text">
								Минирализация: 100-150 мг/дмз
							</p>
							<button class="general__button btns" @click="addProduct(water)">Добавить в корзину</button>
						</div>
						<div class="general__shell general__shell_mr60" v-if="rus">
							<div class="general__circle">
								<p class="general__text general__text_blue">
									80 грн за бутылку
								</p>
							</div>
						</div>
						<!-- українська -->
						<div class="general__shell general__shell_mb60" v-if="ukr">
							<h2 class="general__h2">Вода Avana 18,9 л</h2>
							<p class="general__text">
								Сертифікати: ISO 22000/HACCP, відповідності УКРСЕПРО
							</p>
							<p class="general__text">
								Джерело: артезіанська свердловина
							</p>
							<p class="general__text">
								Мінералізація: 100-150 мг/дмз
							</p>
							<button class="general__button btns" @click="addProduct(water)">Додати до кошика</button>
						</div>
						<div class="general__shell general__shell_mr60" v-if="ukr">
							<div class="general__circle">
								<p class="general__text general__text_blue">
									80 грн за пляшку
								</p>
							</div>
						</div>
						<!-- english -->
						<div class="general__shell general__shell_mb60" v-if="usa">
							<h2 class="general__h2">Water Avana 18,9 l</h2>
							<p class="general__text">
								Certificates: ISO 22000/HACCP, conformity UASEPRO
							</p>
							<p class="general__text">
								Source: artesian well
							</p>
							<p class="general__text">
								Mineralization: 100-150 mg/dmz
							</p>
							<button class="general__button btns" @click="addProduct(water)">Add to cart</button>
						</div>
						<div class="general__shell general__shell_mr60" v-if="usa">
							<div class="general__circle">
								<p class="general__text general__text_blue">
									80 UAH for the bottle
								</p>
							</div>
						</div>
						<!--  -->
						<div class="general__shell general__shell_center">
							<img src="img/BottleRotate.png" alt="Питьевая вода «AVANA»" class="general__img">
						</div>
					</div>
				</div>
			</div>
			<div class="languages">
				<button class="languages__link" :class="{'active':rus}" @click="langRus">RU</button>
				<button class="languages__link" :class="{'active':ukr}" @click="langUkr">UA</button>
				<button class="languages__link" :class="{'active':usa}" @click="langUsa">EN</button>
			</div>
		</section>


		<section id="pomps" class="pomps">
			<div class="container">
				<!-- русский -->
				<h3 class="pomps__h3 title__h3" v-if="rus">Помпы</h3>
				<!-- українська -->
				<h3 class="pomps__h3 title__h3" v-if="ukr">Помпи</h3>
				<!-- english -->
				<h3 class="pomps__h3 title__h3" v-if="usa">Pomps</h3>
				<div class="pomps__items">
					<div class="card" v-for="(pomp, i) in pomps" :key="i">
						<div class="card__circle" v-if="pomp.label">
							{{pomp.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(pomp)">
								<img :src="pomp.img" :alt="pomp.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<!-- русский -->
								<p class="card__price" v-if="rus">{{pomp.price}} грн</p>
								<!-- українська -->
								<p class="card__price" v-if="ukr">{{pomp.price}} грн</p>
								<!-- english -->
								<p class="card__price" v-if="usa">{{pomp.price}} UAH</p>
								<a class="card__link" @click="transition(pomp)">
									<p class="card__name" v-if="rus">{{pomp.title}}</p>
									<p class="card__name" v-if="ukr">{{pomp.titleUkr}}</p>
									<p class="card__name" v-if="usa">{{pomp.titleUsa}}</p>
								</a>
							</div>
							<button class="card__cart">
								<svg class="card__svg" viewBox="0 0 28 25" @click='addProduct(pomp)'>
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="coolers">
			<div class="container">
				<!-- русский -->
				<h3 class="coolers__h3 title__h3" v-if="rus">Кулеры</h3>
				<!-- українська -->
				<h3 class="coolers__h3 title__h3" v-if="ukr">Кулєри</h3>
				<!-- english -->
				<h3 class="coolers__h3 title__h3" v-if="usa">Coolers</h3>
				<div class="coolers__items">

					<div class="card" v-for="(culer, i) in culers" :key="i">
						<div class="card__circle" v-if="culer.label">
							{{culer.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(culer)">
								<img :src="culer.img" :alt="culer.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<!-- русский -->
								<p class="card__price" v-if="rus">{{culer.price}} грн</p>
								<!-- українська -->
								<p class="card__price" v-if="ukr">{{culer.price}} грн</p>
								<!-- english -->
								<p class="card__price" v-if="usa">{{culer.price}} UAH</p>
								<a href="" class="card__link">
									<p class="card__name" v-if="rus">{{culer.title}}</p>
									<p class="card__name" v-if="ukr">{{culer.titleUkr}}</p>
									<p class="card__name" v-if="usa">{{culer.titleUsa}}</p>
								</a>
							</div>
							<button class="card__cart" @click='addProduct(culer)'>
								<svg class="card__svg" viewBox="0 0 28 25">
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>



				</div>
			</div>
		</section>
		@@include('_subscribe.html')

		<!-- русский -->
		<section class="seo" v-if="rus">
			<div class="container">
				<p class="seo__content">
					CEO текст
				</p>
				<p class="seo__content">
					Бутилированная питьевая вода «AVANA» – это ежедневный вклад в Ваше здоровье. Когда чистая питьевая
					вода
					всегда под рукой, можно быть уверенным, что одна из самых важных составляющих здорового образа жизни
					полностью безопасна и приносит только пользу
				</p>
				<p class="seo__content">
					Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
					безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.
				</p>
			</div>
		</section>
		<!-- українська -->
		<section class="seo" v-if="ukr">
			<div class="container">
				<p class="seo__content">
					CEO текст
				</p>
				<p class="seo__content">
					Бутильована питна вода «AVANA» - це щоденний внесок в Ваше здоров'я. Коли чиста питна вода завжди
					під
					рукою, можна бути впевненим, що одна з найважливіших складових здорового способу життя повністю
					безпечна
					і приносить тільки користь.
				</p>
				<p class="seo__content">
					Питна вода «AVANA» - вибір серйозних сучасних людей, яким важлива стабільність, престиж і безпеку в
					усіх
					питаннях і, в першу чергу, в питаннях здоров'я.
				</p>
			</div>
		</section>
		<!-- english -->
		<section class="seo" v-if="usa">
			<div class="container">
				<p class="seo__content">
					SEO text
				</p>
				<p class="seo__content">
					Bottled drinking water "AVANA" - it`s a daily contribution to your health. When clean drinking water
					is
					always at hand, you can be sure that one of the most important components of a healthy lifestyle is
					completely safe and brings only benefits.
				</p>
				<p class="seo__content">
					Drinking water "AVANA" - it`s the choice of serious modern people who value stability, prestige and
					safety in
					all matters and, first of all, in matters of health.
				</p>
			</div>
		</section>
		<!-- end of section seo -->

		@@include('_footer.html')
	</div>
	<button id="up" class="up">
		<svg class="up__svg" viewBox="0 0 50 50">
			<use xlink:href="img/icons/icons.svg#upArrow" />
		</svg>
	</button>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="js/script.min.js"></script>
</body>

</html>