<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
	<link rel="stylesheet" href="css/style.min.css">
	<title>Каталог - Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
		безопасность
		во всех вопросах и, в первую очередь, в вопросах здоровья.</title>
</head>

<body>
	<div id="app">
		<header class="header">
			<div class="container">
				<div class="header__wrap">
					<a href="index.html" class="header__logo" title="На главную">
						<svg class="logo" viewBox="0 0 145 55">
							<use xlink:href="img/icons/icons.svg#LogoBlue" />
						</svg>
					</a>
					<div class="header__text">
						<p class="header__schedule">Пн-пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Вс:&nbsp;<span class="header__span">выходной</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Только по Киеву
						</p>
					</div>
					<div class="header__links">
						<a href="tel:+380445029191" class="header__link" title="Позвонить сейчас">(044) 502-91-91</a>
						<button class="header__button" title="Мой аккаунт">
							<svg class="header__svg" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#Reg" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#RegBlue" />
							</svg>
						</button>

						<a href="cart.html" class="header__button" title="Корзина">
							<svg class="header__svg" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#Cart" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#CartBlue" />
							</svg>
							<p class="header__counter" v-if="countProduct">
								{{countProduct}}
							</p>
						</a>
						<div id="burger" class="burger" title="Меню">
							<span id="burgerline1" class="burger__line"></span>
							<span id="burgerline2" class="burger__line "></span>
							<span id="burgerline3" class="burger__line "></span>
						</div>
					</div>
					<div id="menu" class="menu menu__hidden">
						<a href="#" class="menu__link">Мой аккаунт</a>
						<a href="index.html#about" class="menu__link">О воде</a>
						<a href="catalog.html" class="menu__link">Каталог</a>
						<a href="#" class="menu__link">Бизнесу</a>
						<a href="#" class="menu__link">Новым клиентам</a>
						<a href="#" class="menu__link">Доставка и оплата</a>
						<a href="#" class="menu__link">Контакты</a>
					</div>


				</div>
			</div>

		</header>

		<div class="modal__product" v-if="showProduct" @click="closeProduct">
			<div class="product__window">
				<div class="product__container" @click.stop>
					<div class="product__imgs">
						<img :src="modal.img" :alt="modal.title" class="product__img">
					</div>
					<div class="product__content">
						<h3 class="product__h3 title__h3">{{modal.title}}</h3>
						<p class="product__description">
							{{modal.discription}}
						</p>
						<div class="product__wrap">
							<div class="product__sale" v-if="modal.rent">
								<p class="product__method">
									Аренда
								</p>
								<p class="product__text">
									на 1 месяц - {{modal.rent}} грн
								</p>
								<p class="product__text">
									на 6 месяцев - {{(modal.rent * 5)}} грн
								</p>
							</div>
							<div class="product__delimiter" v-if="modal.rent"></div>
							<div class="product__sale">
								<p class="product__method">
									Продажа
								</p>
								<p class="product__text">
									1 кулер - {{modal.price}} грн.
								</p>
								<p class="product__text">

								</p>
							</div>
						</div>
						<div class="product__wrap">
							<button class="product__btn btns product__btn_orange" @click="addProduct(modal)">купить</button>
							<button class="product__btn btns product__btn_blue">в 1 клик</button>
						</div>
					</div>

				</div>
				<button class="product__close" @click="closeProduct">Close &#10006;</button>
			</div>
		</div>

		<div id="anchor" class="anchor"></div>
		<section class="general">
			<div class="socials">
				<a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="socials__link"
					title="Facebook">
					<svg class="socials__svg" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#Facebook" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#FacebookBlue" />
					</svg>
				</a>
				<a href="viber://chat?number=%2B380961712071" target="_blank" class="socials__link" title="Viber">
					<svg class="socials__svg" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#Viber" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#ViberBlue" />
					</svg>
				</a>
				<a href="https://t.me/TimSolo" target="_blank" class="socials__link" title="Telegram">
					<svg class="socials__svg" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#Telegram" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#TelegramBlue" />
					</svg>
				</a>
			</div>
			<div class="container">
				<div class="way">
					<a href="index.html" class="way__link">Главная</a>
					<a href="" class="way__link">Каталог</a>
				</div>
				<div class="general__container">
					<a href="#pomps" class="general__anchor">
						<div class="general__wrap">
							<p class="general__p">Помпы</p>
							<p class="general__p">Кулеры</p>
							<svg class="general__svg" viewBox="0 0 8 211">
								<use xlink:href="img/icons/icons.svg#GeneralArrow" />
							</svg>
						</div>
					</a>
					<div class="general__content">
						<div class="general__shell general__shell_mb60">
							<h2 class="general__h2">Вода Avana 18,9 л</h2>
							<p class="general__text">
								Сертификаты: ISO 22000/HACCP, соответствия УКРСЕПРО
							</p>
							<p class="general__text">
								Источник:
								артезианская скважина
							</p>
							<p class="general__text">
								Минирализация: 100-150 мг/дмз
							</p>
							<button class="general__button btns" @click="addProduct(water)">Добавить в корзину</button>
						</div>
						<div class="general__shell general__shell_mr60">
							<div class="general__circle">
								<p class="general__text general__text_blue">
									80 грн за бутылку
								</p>
							</div>
						</div>
						<div class="general__shell general__shell_center">
							<img src="img/BottleRotate.png" alt="" class="general__img">
						</div>
					</div>
				</div>
			</div>
			<div class="languages">
				<a href="#" class="languages__link">RU</a>
				<a href="#" class="languages__link">UA</a>
				<a href="#" class="languages__link">EN</a>
			</div>
		</section>


		<section id="pomps" class="pomps">
			<div class="container">
				<h3 class="pomps__h3 title__h3">Помпы</h3>
				<div class="pomps__items">
					<div class="card" v-for="(pomp, i) in pomps" :key="i">
						<div class="card__circle" v-if="pomp.label">
							{{pomp.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(pomp)">
								<img :src="pomp.img" :alt="pomp.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<p class="card__price">{{pomp.price}} грн</p>
								<a class="card__link" @click="transition(pomp)">
									<p class="card__name">{{pomp.title}}</p>
								</a>
							</div>
							<button class="card__cart">
								<svg class="card__svg" viewBox="0 0 28 25" @click='addProduct(pomp)'>
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="coolers">
			<div class="container">
				<h3 class="coolers__h3 title__h3">Кулеры</h3>
				<div class="coolers__items">

					<div class="card" v-for="(culer, i) in culers" :key="i">
						<div class="card__circle" v-if="culer.label">
							{{culer.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(culer)">
								<img :src="culer.img" :alt="culer.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<p class="card__price">{{culer.price}} грн</p>
								<a href="" class="card__link">
									<p class="card__name">{{culer.title}}</p>
								</a>
							</div>
							<button class="card__cart" @click='addProduct(culer)'>
								<svg class="card__svg" viewBox="0 0 28 25">
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>



				</div>
			</div>
		</section>
	</div>


	@@include('_subscribe.html')

	<section class="seo">
		<div class="container">
			<p class="seo__content">
				CEO текст
			</p>
			<p class="seo__content">
				Бутилированная питьевая вода «AVANA» – это ежедневный вклад в Ваше здоровье. Когда чистая питьевая вода
				всегда под рукой, можно быть уверенным, что одна из самых важных составляющих здорового образа жизни
				полностью безопасна и приносит только пользу
			</p>
			<p class="seo__content">
				Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
				безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.
			</p>
		</div>
	</section>

	@@include('_footer.html')
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="js/script.min.js"></script>
</body>

</html>