<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:image" content="/og-image.jpg">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	<meta property="og:description" content="Everything you need to know about the topic you are looking for">
	<meta property="og:url" content="http://example.com">
	<meta property="og:title"
		content="Питьевая вода &laquo;AVANA&raquo; - выбор серьезных современных людей, которым важна стабильность, престиж и безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.">



	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
	<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
	<link rel="stylesheet" href="css/style.min.css">
	<title>Корзина - Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
		безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.</title>
</head>

<body>
	<div id="app2">

		<div class="invoice" v-if="creatUser" @click="CloseInvoice">
			<!-- русский -->

			<div class="invoice__modal" v-if="rus">
				<p class="invoice__p invoice__p_uppercaseboldcenter">Ваш заказ принят в обработку</p>
				<p class="invoice__p">Покупатель: {{name}}</p>
				<p class="invoice__p">Тел.: {{tel}}</p>
				<p class="invoice__p">Улица: {{street}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Дом: {{home}}</p>
					<p class="invoice__p" v-if="entrance">Подъезд: {{entrance}}</p>
					<p class="invoice__p" v-if="flat">Квартира: {{flat}}</p>
				</div>
				<p class="invoice__p">E-mail: {{eMail}}</p>
				<p class="invoice__p" v-if="coment">Комментарий: {{coment}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Дата доставки: {{currentDateTime(deliveryDate)}}</p>
					<p class="invoice__p">Время доставки: {{selected}}</p>
				</div>
				<p class="invoice__p">Способ оплаты: {{paymentTitle}}</p>
				<table class="invoice__table">
					<tr class="invoice__order">
						<th class="invoice__item">Наименование</th>
						<th class="invoice__item">Кол-во, шт.</th>
						<th class="invoice__item">Цена, грн.</th>
						<th class="invoice__item">Сумма, грн.</th>
					</tr>
					<tr class="invoice__order" v-for="(product, n) in products" :key="n">
						<td class="invoice__item">{{product.title}}</td>
						<td class="invoice__item invoice__item_center">{{product.count}}</td>
						<td class="invoice__item invoice__item_right">{{product.price}}</td>
						<td class="invoice__item invoice__item_right">{{(product.price * product.count)}}</td>
					</tr>
				</table>
				<p class="invoice__totalCount">Итого к оплате: {{totalProduct}} грн.</p>
			</div>
			<!-- українська -->
			<div class="invoice__modal" v-if="ukr">
				<p class="invoice__p invoice__p_uppercaseboldcenter">Ваше замовлення прийняте в обробку</p>
				<p class="invoice__p">Покупець: {{name}}</p>
				<p class="invoice__p">Тел.: {{tel}}</p>
				<p class="invoice__p">Вулиця: {{street}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Будинок: {{home}}</p>
					<p class="invoice__p" v-if="entrance">Підїзд: {{entrance}}</p>
					<p class="invoice__p" v-if="flat">Квартира: {{flat}}</p>
				</div>
				<p class="invoice__p">E-mail: {{eMail}}</p>
				<p class="invoice__p" v-if="coment">Коментарій: {{coment}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Дата доставки: {{currentDateTime(deliveryDate)}}</p>
					<p class="invoice__p">Час доставки: {{selected}}</p>
				</div>
				<p class="invoice__p">Спосіб оплати: {{paymentTitleUkr}}</p>
				<table class="invoice__table">
					<tr class="invoice__order">
						<th class="invoice__item">Найменування</th>
						<th class="invoice__item">Кіл-ть, од.</th>
						<th class="invoice__item">Ціна, грн.</th>
						<th class="invoice__item">Сума, грн.</th>
					</tr>
					<tr class="invoice__order" v-for="(product, n) in products" :key="n">
						<td class="invoice__item">{{product.titleUkr}}</td>
						<td class="invoice__item invoice__item_center">{{product.count}}</td>
						<td class="invoice__item invoice__item_right">{{product.price}}</td>
						<td class="invoice__item invoice__item_right">{{(product.price * product.count)}}</td>
					</tr>
				</table>
				<p class="invoice__totalCount">Разом: {{totalProduct}} грн.</p>
			</div>
			<!-- english -->
			<div class="invoice__modal" v-if="usa">
				<p class="invoice__p invoice__p_uppercaseboldcenter">Your order has been accepted for processing</p>
				<p class="invoice__p">Customer: {{name}}</p>
				<p class="invoice__p">Tel.: {{tel}}</p>
				<p class="invoice__p">Street: {{street}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Home: {{home}}</p>
					<p class="invoice__p">Entrance: {{entrance}}</p>
					<p class="invoice__p">Apartment: {{flat}}</p>
				</div>
				<p class="invoice__p">E-mail: {{eMail}}</p>
				<p class="invoice__p" v-if="coment">Comment: {{coment}}</p>
				<div class="invoice__wrap">
					<p class="invoice__p">Delivery date: {{currentDateTime(deliveryDate)}}</p>
					<p class="invoice__p">Delivery time: {{selected}}</p>
				</div>
				<p class="invoice__p">Payment method: {{paymentTitleUsa}}</p>
				<table class="invoice__table">
					<tr class="invoice__order">
						<th class="invoice__item">Name</th>
						<th class="invoice__item">Count</th>
						<th class="invoice__item">Price, UAH.</th>
						<th class="invoice__item">Total, UAH.</th>
					</tr>
					<tr class="invoice__order" v-for="(product, n) in products" :key="n">
						<td class="invoice__item">{{product.titleUsa}}</td>
						<td class="invoice__item invoice__item_center">{{product.count}}</td>
						<td class="invoice__item invoice__item_right">{{product.price}}</td>
						<td class="invoice__item invoice__item_right">{{(product.price * product.count)}}</td>
					</tr>
				</table>
				<p class="invoice__totalCount">Total price: {{totalProduct}} UAH</p>
			</div>
		</div>
		<header class="header">
			<div class="container">
				<div class="header__wrap">
					<a href="index.html" class="header__logo" title="На главную">
						<svg class="logo" viewBox="0 0 145 55">
							<use xlink:href="img/icons/icons.svg#LogoBlue" />
						</svg>
					</a>

					<!-- русский -->
					<div class="header__text" v-if="rus">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Вс:&nbsp;<span class="header__span">выходной</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Только по Киеву
						</p>
					</div>

					<!-- українська -->
					<div class="header__text" v-if="ukr">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Нд:&nbsp;<span class="header__span">Вихідний</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Тільки по Київу
						</p>
					</div>

					<!-- english -->
					<div class="header__text" v-if="usa">
						<p class="header__schedule">Mon-Fri:&nbsp;<span class="header__span">07:00 AM - 8:00 PM</span>
						</p>
						<p class="header__schedule">Sat:&nbsp;<span class="header__span">08:00 AM - 4:00 PM</span></p>
						<p class="header__schedule">Sun:&nbsp;<span class="header__span">day off</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Only in Kiev
						</p>
					</div>
					<div class="header__links">
						<a href="tel:+380445029191" class="header__link" title="Позвонить сейчас">(044) 502-91-91</a>
						<button class="header__button" title="Мой аккаунт">
							<svg class="header__svg" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#Reg" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#RegBlue" />
							</svg>
						</button>

						<a href="cart.html" class="header__button" title="Корзина">
							<svg class="header__svg" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#Cart" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#CartBlue" />
							</svg>
							<p class="header__counter" v-if="countProduct">
								{{countProduct}}
							</p>
						</a>
						<div id="burger" class="burger" title="Меню" @click="burgerMenu">
							<span id="burgerline1" class="burger__line"
								:class="[burger ? 'burger__line_reversrotate45' : '']"></span>
							<span id="burgerline2" class="burger__line " :class="[burger ? 'burger__line_hidden' : '']"></span>
							<span id="burgerline3" class="burger__line "
								:class="[burger ? 'burger__line_rotate45' : '']"></span>
						</div>
					</div>
					<div id="menu" class="menu" :class="[burger ? '' : 'menu__hidden']">
						<!-- русское меню -->

						<a href="#" class="menu__link" v-if="rus">Мой аккаунт</a>
						<a href="index.html#about" class="menu__link" v-if="rus">О воде</a>
						<a href="catalog.html" class="menu__link" v-if="rus">Каталог</a>
						<a href="#" class="menu__link" v-if="rus">Бизнесу</a>
						<a href="#" class="menu__link" v-if="rus">Новым клиентам</a>
						<a href="#" class="menu__link" v-if="rus">Доставка и оплата</a>
						<a href="#" class="menu__link" v-if="rus">Контакты</a>

						<!-- українське меню -->

						<a href="#" class="menu__link" v-if="ukr">Мій аккаунт</a>
						<a href="index.html#about" class="menu__link" v-if="ukr">Про воду</a>
						<a href="catalog.html" class="menu__link" v-if="ukr">Каталог</a>
						<a href="#" class="menu__link" v-if="ukr">Бізнесу</a>
						<a href="#" class="menu__link" v-if="ukr">Новим клієнтам</a>
						<a href="#" class="menu__link" v-if="ukr">Доставка та оплата</a>
						<a href="#" class="menu__link" v-if="ukr">Контакти</a>

						<!-- english menu -->

						<a href="#" class="menu__link" v-if="usa">Account</a>
						<a href="index.html#about" class="menu__link" v-if="usa">About water</a>
						<a href="catalog.html" class="menu__link" v-if="usa">Catalog</a>
						<a href="#" class="menu__link" v-if="usa">For bussines</a>
						<a href="#" class="menu__link" v-if="usa">For new clients</a>
						<a href="#" class="menu__link" v-if="usa">Delivery & Pay</a>
						<a href="#" class="menu__link" v-if="usa">Contacts</a>
					</div>

				</div>
			</div>
		</header>
		<div id="anchor" class="anchor"></div>
		<section class="cart">
			<div class="container">
				<div class="cart__content">
					<div class="cart__wrap cart__wrap_left">
						<h1 class="cart__order title__h2 cart__order_grey" v-if="rus">оформление заказа</h1>
						<h1 class="cart__order title__h2 cart__order_grey" v-if="ukr">оформлення замовлення</h1>
						<h1 class="cart__order title__h2 cart__order_grey" v-if="usa">ordering</h1>
						<h2 class="cart__user title__h2" v-if="rus">личные данные</h2>
						<h2 class="cart__user title__h2" v-if="ukr">особисті дані</h2>
						<h2 class="cart__user title__h2" v-if="usa">personal data</h2>
						<form class="userData">
							<div class="userData__container userData__container_flexwrap" v-if="rus">
								<div class="userData__wrap">

									<input class="userData__input" :class="{'error': nameError }" type=" text" placeholder="Имя"
										v-model="name">
									<input class="userData__input userData__input_m15 " :class="{'error': telError }" type="tel"
										placeholder="+38(0__) ___-__-__" v-model="tel" v-maska="'+38 (0##) ###-##-##'">
									<input class="userData__input" :class="{'error': mailError }" type="email"
										placeholder="E-mail" v-model="eMail">
								</div>
								<div class="userData__wrap">
									<input class="userData__input userData__input_disabled" type="text" disabled
										placeholder="Киев">
									<input class="userData__input  userData__input_m15" :class="{'error': streetError }"
										type="text" placeholder="Улица" v-model="street">
									<div class="userData__container userData__container_gap0">
										<input class="userData__input" :class="{'error': homeError }" type="text"
											placeholder="Дом" v-model="home">
										<input class="userData__input  userData__input_m10" type="text" placeholder="Подъезд"
											v-model="entrance">
										<input class="userData__input" type="text" placeholder="Квартира" v-model="flat">
									</div>
								</div>
							</div>
							<div class="userData__container userData__container_flexwrap" v-if="ukr">
								<div class="userData__wrap">

									<input class="userData__input" :class="{'error': nameError }" type=" text" placeholder="Ім'я"
										v-model="name">
									<input class="userData__input userData__input_m15 " :class="{'error': telError }" type="tel"
										placeholder="+38(0__) ___-__-__" v-model="tel" v-maska="'+38 (0##) ###-##-##'">
									<input class="userData__input" :class="{'error': mailError }" type="email"
										placeholder="E-mail" v-model="eMail">
								</div>
								<div class="userData__wrap">
									<input class="userData__input userData__input_disabled" type="text" disabled
										placeholder="Київ">
									<input class="userData__input  userData__input_m15" :class="{'error': streetError }"
										type="text" placeholder="Вулиця" v-model="street">
									<div class="userData__container userData__container_gap0">
										<input class="userData__input" :class="{'error': homeError }" type="text"
											placeholder="Будинок" v-model="home">
										<input class="userData__input  userData__input_m10" type="text" placeholder="Під'їзд"
											v-model="entrance">
										<input class="userData__input" type="text" placeholder="Квартира" v-model="flat">
									</div>
								</div>
							</div>
							<div class="userData__container userData__container_flexwrap" v-if="usa">
								<div class="userData__wrap">

									<input class="userData__input" :class="{'error': nameError }" type=" text" placeholder="Name"
										v-model="name">
									<input class="userData__input userData__input_m15 " :class="{'error': telError }" type="tel"
										placeholder="+38(0__) ___-__-__" v-model="tel" v-maska="'+38 (0##) ###-##-##'">
									<input class="userData__input" :class="{'error': mailError }" type="email"
										placeholder="E-mail" v-model="eMail">
								</div>
								<div class="userData__wrap">
									<input class="userData__input userData__input_disabled" type="text" disabled
										placeholder="Kiev">
									<input class="userData__input  userData__input_m15" :class="{'error': streetError }"
										type="text" placeholder="Street" v-model="street">
									<div class="userData__container userData__container_gap0">
										<input class="userData__input" :class="{'error': homeError }" type="text"
											placeholder="Home" v-model="home">
										<input class="userData__input  userData__input_m10" type="text" placeholder="Entrance"
											v-model="entrance">
										<input class="userData__input" type="text" placeholder="Flat" v-model="flat">
									</div>
								</div>
							</div>
							<div class="userData__save">
								<input id="userData__push" class="userData__push" type="checkbox" v-model="checked">
								<div class="userData__label_before"></div>
								<label for="userData__push" class="userData__label" v-if="rus">
									Сохранить данные
								</label>
								<label for="userData__push" class="userData__label" v-if="ukr">
									Зберегти дані
								</label>
								<label for="userData__push" class="userData__label" v-if="usa">
									Save data
								</label>
							</div>

							<div class="userData__btn" @click="addComentText" v-if="rus">
								Нажать и добавить комментарий
								<div class="userData__triangle"></div>
							</div>
							<div class="userData__btn" @click="addComentText" v-if="ukr">
								Натиснути і додати коментар
								<div class="userData__triangle"></div>
							</div>
							<div class="userData__btn" @click="addComentText" v-if="usa">
								Click and add a comment
								<div class="userData__triangle"></div>
							</div>
							<textarea class="userData__textarea" name="comment" id="" v-if="addComent"
								v-model='coment'></textarea>

							<h2 class="cart__delivery title__h2" v-if="rus">доставка</h2>
							<h2 class="cart__delivery title__h2" v-if="ukr">доставка</h2>
							<h2 class="cart__delivery title__h2" v-if="usa">delivery</h2>
							<p class="userData__p" v-if="rus">Дата доставки</p>
							<p class="userData__p" v-if="ukr">Дата доставки</p>
							<p class="userData__p" v-if="usa">Delivery date</p>
							<div class="userData__radiowrap">
								<input id="day1" name="day" type="radio" value="1" v-model='deliveryDate'
									class="userData__radio" />
								<label for="day1" class="userData__date btns" :class="{'error': deliveryDateError }">
									{{ currentDateTime(1) }}
								</label>

								<input id="day2" name="day" type="radio" value="2" v-model='deliveryDate'
									class="userData__radio" />
								<label for="day2" class="userData__date btns" :class="{'error': deliveryDateError }">
									{{ currentDateTime(2) }}
								</label>

								<input id="day3" name="day" type="radio" value="3" v-model='deliveryDate'
									class="userData__radio" />
								<label for="day3" class="userData__date btns" :class="{'error': deliveryDateError }">
									{{ currentDateTime(3) }}
								</label>
							</div>
							<p class="userData__p" v-if="rus">Время доставки </p>
							<p class="userData__p" v-if="ukr">Час доставки </p>
							<p class="userData__p" v-if="usa">Delivery time </p>

							<div class="userData__time">
								<div class="userData__select" :class="{'error': selectedError }">
									<v-select :options="options" v-model="selected">
									</v-select>
								</div>
								<div class="userData__save userData__save_mb20">
									<input id="userData__call" class="userData__call userData__push" type="checkbox"
										v-model="deliveryTime">
									<div class="userData__label_before"></div>
									<label for="userData__call" class="userData__label" v-if="rus">
										Не перезванивать
									</label>
									<label for="userData__call" class="userData__label" v-if="ukr">
										Hе передзвонювати
									</label>
									<label for="userData__call" class="userData__label" v-if="usa">
										Don't callback
									</label>
								</div>

							</div>
							<h2 class="cart__pay title__h2" v-if="rus">Способ оплаты </h2>
							<h2 class="cart__pay title__h2" v-if="ukr">Спосіб оплати </h2>
							<h2 class="cart__pay title__h2" v-if="usa">Payment method</h2>
							<div class="userData__pay userData__time">
								<div class="userData__save userData__save_mb20">
									<input id="userData__radio1" name="userData__radio" class="userData__radio userData__push"
										type="radio" value="cash" v-model='payment'>
									<div class="userData__label_round" :class="{'error': paymentError }"></div>
									<label for="userData__radio1" class="userData__label " v-if="rus">
										Наличными курьеру
									</label>
									<label for="userData__radio1" class="userData__label " v-if="ukr">
										Готівкою кур'єру
									</label>
									<label for="userData__radio1" class="userData__label " v-if="usa">
										Сash courier
									</label>
								</div>
								<div class="userData__save userData__save_mb20">
									<input id="userData__radio2" name="userData__radio" class="userData__radio userData__push"
										type="radio" value="paymentWeb" v-model='payment'>
									<div class="userData__label_round" :class="{'error': paymentError }"></div>
									<label for="userData__radio2" class="userData__label " v-if="rus">
										Оплата картой на сайте
									</label>
									<label for="userData__radio2" class="userData__label " v-if="ukr">
										Оплата карткою на сайті
									</label>
									<label for="userData__radio2" class="userData__label " v-if="usa">
										Payment by card on the site
									</label>
								</div>
								<div class="userData__save userData__save_mb20">
									<input id="userData__radio3" name="userData__radio" class="userData__radio userData__push"
										type="radio" value="cahsless" v-model='payment'>
									<div class="userData__label_round" :class="{'error': paymentError }"></div>
									<label for="userData__radio3" class="userData__label " v-if="rus">
										Безналичный расчет (для юр. лиц)
									</label>
									<label for="userData__radio3" class="userData__label " v-if="ukr">
										Безготівковий розрахунок (для юр. Осіб)
									</label>
									<label for="userData__radio3" class="userData__label " v-if="usa">
										Cashless payment (for legal entities)
									</label>
								</div>
							</div>
						</form>
					</div>
					<div class="cart__wrap cart__wrap_right">
						<h2 class="cart__user title__h2" v-if="rus">Ваш заказ</h2>
						<h2 class="cart__user title__h2" v-if="ukr">Ваше замовлення</h2>
						<h2 class="cart__user title__h2" v-if="usa">Your order</h2>
						<div class="cart__orders" v-for="(product, n) in products" :key="n">
							<div class="order">
								<div class="order__wrap">
									<div class="order__imgs">
										<img :src="product.img" alt="Питьевая вода «AVANA»" class="order__img">
									</div>
									<div class="order__text">
										<p class="order__title" v-if="rus">
											{{product.title}}
										</p>
										<p class="order__title" v-if="ukr">
											{{product.titleUkr}}
										</p>
										<p class="order__title" v-if="usa">
											{{product.titleUsa}}
										</p>
										<p class="order__price" v-if="rus">
											{{(product.price * product.count)}} грн.
										</p>
										<p class="order__price" v-if="ukr">
											{{(product.price * product.count)}} грн.
										</p>
										<p class="order__price" v-if="usa">
											{{(product.price * product.count)}} uah.
										</p>
									</div>
								</div>
								<div class="order__wrap order__wrap_jcsb">
									<div class="order__counter">
										<button class="order__btn" @click="ndashCount(n)">&ndash;</button>
										<div class="order__circle">
											<p class="order__count">{{product.count}}</p>
										</div>
										<button class="order__btn" @click="plusCount(n)">&plus;</button>
									</div>
									<button class="order__btn" @click="removeProduct(n)">
										<svg class="order__svg" viewBox="0 0 9 10">
											<use xlink:href="img/icons/icons.svg#Trash" />
										</svg>
									</button>
								</div>
							</div>
						</div>

						<p class="cart__total" v-if="rus">Bсего: <span class="cart__total_blue">{{totalProduct}}
								грн.</span> </p>
						<p class="cart__total" v-if="ukr">Всього: <span class="cart__total_blue">{{totalProduct}}
								грн.</span> </p>
						<p class="cart__total" v-if="usa">Total: <span class="cart__total_blue">{{totalProduct}}
								uah.</span> </p>
						<button class="cart__submit btns" @click="createUser" v-if="rus">ПОДТВЕРДИТЬ ЗАКАЗ</button>
						<button class="cart__submit btns" @click="createUser" v-if="ukr">
							ПІДТВЕРДИТИ ЗАМОВЛЕННЯ</button>
						<button class="cart__submit btns" @click="createUser" v-if="usa">CONFIRM THE ORDER</button>
						<p class="cart__accept" v-if="rus">*нажимая “Заказать” вы соглашаетесь с правилами
							<a href="#" class="cart__link">
								предоставления услуг</a>
						</p>
						<p class="cart__accept" v-if="ukr">*натискаючи кнопку «Замовити», ви погоджуєтесь з правилами
							<a href="#" class="cart__link">
								надання послуг</a>
						</p>
						<p class="cart__accept" v-if="usa">*by clicking "Order" you agree to the rules
							<a href="#" class="cart__link">
								provision of services</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<a href="index.html" class="footer__logo header__logo" title="На главную">
				<svg class="logo" viewBox="0 0 145 55">
					<use xlink:href="img/icons/icons.svg#LogoWhite" />
				</svg>
			</a>
			<nav class="footer__nav">
				<!-- русский -->
				<ul class="footer__ul" v-if="rus">
					<li class="footer__li"> <a class="footer__a" href="index.html#about">О воде</a></li>
					<li class="footer__li"> <a class="footer__a" href="catalog.html">Каталог</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Новым клиентам</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Бизнесу</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Доставка и оплата</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Контакты</a></li>
				</ul>
				<!-- українська -->
				<ul class="footer__ul" v-if="ukr">
					<li class="footer__li"> <a class="footer__a" href="index.html#about">Про воду</a></li>
					<li class="footer__li"> <a class="footer__a" href="catalog.html">Каталог</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Новим клиєнтам</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Бізнесу</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Доставка та оплата</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Контакти</a></li>
				</ul>
				<!-- english -->
				<ul class="footer__ul" v-if="usa">
					<li class="footer__li"> <a class="footer__a" href="index.html#about">About water</a></li>
					<li class="footer__li"> <a class="footer__a" href="catalog.html">Catalog</a></li>
					<li class="footer__li"> <a class="footer__a" href="">For new clients</a></li>
					<li class="footer__li"> <a class="footer__a" href="">For bussines</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Delivery & Pay</a></li>
					<li class="footer__li"> <a class="footer__a" href="">Contacts</a></li>
				</ul>
			</nav>
			<a href="tel:+380445029191" class="footer__phone">(044) 502-91-91</a>
		</div>
		<div class="footer__socials">
			<a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="footer__link"
				title="Facebook">
				<svg class="footer__svg" viewBox="0 0 24 24">
					<use xlink:href="img/icons/icons.svg#FacebookWhite" />
				</svg>
			</a>
			<a href="viber://chat?number=%2B380961712071" target="_blank" class="footer__link" title="Viber">
				<svg class="footer__svg" viewBox="0 0 26 25">
					<use xlink:href="img/icons/icons.svg#ViberWhite" />
				</svg>
			</a>
			<a href="https://t.me/TimSolo" target="_blank" class="footer__link" title="Telegram">
				<svg class="footer__svg" viewBox="0 0 25 26">
					<use xlink:href="img/icons/icons.svg#TelegramWhite" />
				</svg>
			</a>
		</div>
	</div>




	<button id="up" class="up">
		<svg class="up__svg" viewBox="0 0 50 50">
			<use xlink:href="img/icons/icons.svg#upArrow" />
		</svg>
	</button>
</footer>
	</div>


	<script src="https://unpkg.com/vue@latest"></script>
	<script src="https://unpkg.com/vue-select@latest"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue-inputmask@0.2.1/dist/vue-inputmask.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-inputmask@0.2.1/dist/vue-inputmask-browser.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="js/script.min.js"></script>
</body>

</html>