<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:image" content="/og-image.jpg">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	<meta property="og:description" content="Everything you need to know about the topic you are looking for">
	<meta property="og:url" content="http://example.com">
	<meta property="og:title"
		content="Питьевая вода &laquo;AVANA&raquo; - выбор серьезных современных людей, которым важна стабильность, престиж и безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.">



	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
	<link rel="stylesheet" href="css/style.min.css">
	<title>Каталог - Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
		безопасность
		во всех вопросах и, в первую очередь, в вопросах здоровья.</title>
</head>

<body>
	<div id="app">
		<header class="header">
			<div class="container">
				<div class="header__wrap">
					<a href="index.html" class="header__logo" title="На главную">
						<svg class="logo" viewBox="0 0 145 55">
							<use xlink:href="img/icons/icons.svg#LogoBlue" />
						</svg>
					</a>
					<!-- русский -->
					<div class="header__text" v-if="rus">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Вс:&nbsp;<span class="header__span">выходной</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Только по Киеву
						</p>
					</div>

					<!-- українська -->
					<div class="header__text" v-if="ukr">
						<p class="header__schedule">Пн-Пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
						<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
						<p class="header__schedule">Нд:&nbsp;<span class="header__span">Вихідний</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Тільки по Київу
						</p>
					</div>

					<!-- english -->
					<div class="header__text" v-if="usa">
						<p class="header__schedule">Mon-Fri:&nbsp;<span class="header__span">07:00 AM - 8:00 PM</span></p>
						<p class="header__schedule">Sat:&nbsp;<span class="header__span">08:00 AM - 4:00 PM</span></p>
						<p class="header__schedule">Sun:&nbsp;<span class="header__span">day off</span></p>
						<p class="header__schedule header__schedule_ml">
							<svg class="header__scheduleSvg" viewBox="0 0 17 17">
								<use xlink:href="img/icons/icons.svg#LocationPin" />
							</svg>
							Only in Kiev
						</p>
					</div>
					<div class="header__links">
						<a href="tel:+380445029191" class="header__link" title="Позвонить сейчас">(044) 502-91-91</a>
						<button class="header__button" title="Мой аккаунт">
							<svg class="header__svg" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#Reg" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 22 24">
								<use xlink:href="img/icons/icons.svg#RegBlue" />
							</svg>
						</button>

						<a href="cart.html" class="header__button" title="Корзина">
							<svg class="header__svg" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#Cart" />
							</svg>
							<svg class="header__svg header__svg_blue" viewBox="0 0 28 25">
								<use xlink:href="img/icons/icons.svg#CartBlue" />
							</svg>
							<p class="header__counter" v-if="countProduct">
								{{countProduct}}
							</p>
						</a>
						<div id="burger" class="burger" title="Меню" @click="burgerMenu">
							<span id="burgerline1" class="burger__line"
								:class="[burger ? 'burger__line_reversrotate45' : '']"></span>
							<span id="burgerline2" class="burger__line " :class="[burger ? 'burger__line_hidden' : '']"></span>
							<span id="burgerline3" class="burger__line "
								:class="[burger ? 'burger__line_rotate45' : '']"></span>
						</div>
					</div>
					<div id="menu" class="menu" :class="[burger ? '' : 'menu__hidden']">
						<!-- русское меню -->

						<a href="#" class="menu__link">Мой аккаунт</a>
						<a href="index.html#about" class="menu__link">О воде</a>
						<a href="catalog.html" class="menu__link">Каталог</a>
						<a href="#" class="menu__link">Бизнесу</a>
						<a href="#" class="menu__link">Новым клиентам</a>
						<a href="#" class="menu__link">Доставка и оплата</a>
						<a href="#" class="menu__link">Контакты</a>

						<!-- українське меню -->

						<a href="#" class="menu__link">Мій аккаунт</a>
						<a href="index.html#about" class="menu__link">Про воду</a>
						<a href="catalog.html" class="menu__link">Каталог</a>
						<a href="#" class="menu__link">Бізнесу</a>
						<a href="#" class="menu__link">Новим клієнтам</a>
						<a href="#" class="menu__link">Доставка та оплата</a>
						<a href="#" class="menu__link">Контакти</a>

						<!-- english menu -->

						<a href="#" class="menu__link">Account</a>
						<a href="index.html#about" class="menu__link">About water</a>
						<a href="catalog.html" class="menu__link">Catalog</a>
						<a href="#" class="menu__link">For bussines</a>
						<a href="#" class="menu__link">For new clients</a>
						<a href="#" class="menu__link">Delivery & Pay</a>
						<a href="#" class="menu__link">Contacts</a>
					</div>


				</div>
			</div>

		</header>

		<div class="modal__product" v-if="showProduct" @click="closeProduct">
			<div class="product__window">
				<div class="product__container" @click.stop>
					<div class="product__imgs">
						<img :src="modal.img" :alt="modal.title" class="product__img">
					</div>
					<div class="product__content">
						<h3 class="product__h3 title__h3">{{modal.title}}</h3>
						<p class="product__description">
							{{modal.discription}}
						</p>
						<div class="product__wrap">
							<div class="product__sale" v-if="modal.rent">
								<p class="product__method">
									Аренда
								</p>
								<p class="product__text">
									на 1 месяц - {{modal.rent}} грн
								</p>
								<p class="product__text">
									на 6 месяцев - {{(modal.rent * 5)}} грн
								</p>
							</div>
							<div class="product__delimiter" v-if="modal.rent"></div>
							<div class="product__sale">
								<p class="product__method">
									Продажа
								</p>
								<p class="product__text">
									1 кулер - {{modal.price}} грн.
								</p>
								<p class="product__text">

								</p>
							</div>
						</div>
						<div class="product__wrap">
							<button class="product__btn btns product__btn_orange" @click="addProduct(modal)">купить</button>
							<button class="product__btn btns product__btn_blue" @click="buyOneClick(modal)">в 1
								клик</button>
						</div>
					</div>

				</div>
				<button class="product__close" @click="closeProduct">Close &#10006;</button>
			</div>
		</div>

		<div id="anchor" class="anchor"></div>
		<section class="general">
			<div class="socials">
				<a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="socials__link"
					title="Facebook">
					<svg class="socials__svg" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#Facebook" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 24 24">
						<use xlink:href="img/icons/icons.svg#FacebookBlue" />
					</svg>
				</a>
				<a href="viber://chat?number=%2B380961712071" target="_blank" class="socials__link" title="Viber">
					<svg class="socials__svg" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#Viber" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 26 25">
						<use xlink:href="img/icons/icons.svg#ViberBlue" />
					</svg>
				</a>
				<a href="https://t.me/TimSolo" target="_blank" class="socials__link" title="Telegram">
					<svg class="socials__svg" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#Telegram" />
					</svg>
					<svg class="socials__svg socials__svg_blue" viewBox="0 0 25 26">
						<use xlink:href="img/icons/icons.svg#TelegramBlue" />
					</svg>
				</a>
			</div>
			<div class="container">
				<div class="way">
					<a href="index.html" class="way__link">Главная</a>
					<a href="" class="way__link">Каталог</a>
				</div>
				<div class="general__container">
					<a href="#pomps" class="general__anchor">
						<div class="general__wrap">
							<p class="general__p">Помпы</p>
							<p class="general__p">Кулеры</p>
							<svg class="general__svg" viewBox="0 0 8 211">
								<use xlink:href="img/icons/icons.svg#GeneralArrow" />
							</svg>
						</div>
					</a>
					<div class="general__content">
						<div class="general__shell general__shell_mb60">
							<h2 class="general__h2">Вода Avana 18,9 л</h2>
							<p class="general__text">
								Сертификаты: ISO 22000/HACCP, соответствия УКРСЕПРО
							</p>
							<p class="general__text">
								Источник:
								артезианская скважина
							</p>
							<p class="general__text">
								Минирализация: 100-150 мг/дмз
							</p>
							<button class="general__button btns" @click="addProduct(water)">Добавить в корзину</button>
						</div>
						<div class="general__shell general__shell_mr60">
							<div class="general__circle">
								<p class="general__text general__text_blue">
									80 грн за бутылку
								</p>
							</div>
						</div>
						<div class="general__shell general__shell_center">
							<img src="img/BottleRotate.png" alt="" class="general__img">
						</div>
					</div>
				</div>
			</div>
			<div class="languages">
				<a href="#" class="languages__link">RU</a>
				<a href="#" class="languages__link">UA</a>
				<a href="#" class="languages__link">EN</a>
			</div>
		</section>


		<section id="pomps" class="pomps">
			<div class="container">
				<h3 class="pomps__h3 title__h3">Помпы</h3>
				<div class="pomps__items">
					<div class="card" v-for="(pomp, i) in pomps" :key="i">
						<div class="card__circle" v-if="pomp.label">
							{{pomp.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(pomp)">
								<img :src="pomp.img" :alt="pomp.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<p class="card__price">{{pomp.price}} грн</p>
								<a class="card__link" @click="transition(pomp)">
									<p class="card__name">{{pomp.title}}</p>
								</a>
							</div>
							<button class="card__cart">
								<svg class="card__svg" viewBox="0 0 28 25" @click='addProduct(pomp)'>
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="coolers">
			<div class="container">
				<h3 class="coolers__h3 title__h3">Кулеры</h3>
				<div class="coolers__items">

					<div class="card" v-for="(culer, i) in culers" :key="i">
						<div class="card__circle" v-if="culer.label">
							{{culer.label}}
						</div>
						<div class="card__imgs">
							<div class="card__link" @click="transition(culer)">
								<img :src="culer.img" :alt="culer.title" class="card__img">
							</div>
						</div>
						<div class="card__wrap">
							<div class="card__text">
								<p class="card__price">{{culer.price}} грн</p>
								<a href="" class="card__link">
									<p class="card__name">{{culer.title}}</p>
								</a>
							</div>
							<button class="card__cart" @click='addProduct(culer)'>
								<svg class="card__svg" viewBox="0 0 28 25">
									<use xlink:href="img/icons/icons.svg#CartBlue" />
								</svg>
							</button>
						</div>
					</div>



				</div>
			</div>
		</section>
		<!-- русский -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Хочешь узнавать первым о наших акциях и новостях?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">подписаться</button>
		</div>
		<p class="subscribe__p">
			Подпишись на рассылку по нашим акциям и предложениям
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			Вы подписались, информация будет приходить на {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			Вы ввели некорректный E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>

<!-- українська -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Хочеш дізнаватися першим про наші акції та новини?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">підписатися</button>
		</div>
		<p class="subscribe__p">
			Підпишись на розсилку по нашим акціям і пропозиціям
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			Ви підписалися, інформація буде приходити на {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			Ви ввели некоректний E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>

<!-- english -->
<section class="subscribe">
	<div class="container">
		<h4 class="subscribe__h4">Do you want to be the first to know about our promotions and news?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">subscribe</button>
		</div>
		<p class="subscribe__p">
			Subscribe to the newsletter for our promotions and offers
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			You have subscribed, the information will be sent to {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			You entered incorrect E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>

</section>

		<section class="seo">
			<div class="container">
				<p class="seo__content">
					CEO текст
				</p>
				<p class="seo__content">
					Бутилированная питьевая вода «AVANA» – это ежедневный вклад в Ваше здоровье. Когда чистая питьевая
					вода
					всегда под рукой, можно быть уверенным, что одна из самых важных составляющих здорового образа жизни
					полностью безопасна и приносит только пользу
				</p>
				<p class="seo__content">
					Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
					безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.
				</p>
			</div>
		</section>

		<footer class="footer">
   <div class="container">
      <div class="footer__wrap">
         <a href="index.html" class="footer__logo header__logo" title="На главную">
            <svg class="logo" viewBox="0 0 145 55">
               <use xlink:href="img/icons/icons.svg#LogoWhite" />
            </svg>
         </a>
         <nav class="footer__nav">
            <!-- русский -->
            <ul class="footer__ul">
               <li class="footer__li"> <a class="footer__a" href="index.html#about">О воде</a></li>
               <li class="footer__li"> <a class="footer__a" href="catalog.html">Каталог</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Новым клиентам</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Бизнесу</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Доставка и оплата</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Контакты</a></li>
            </ul>
            <!-- українська -->
            <ul class="footer__ul">
               <li class="footer__li"> <a class="footer__a" href="index.html#about">Про воду</a></li>
               <li class="footer__li"> <a class="footer__a" href="catalog.html">Каталог</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Новим клиєнтам</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Бізнесу</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Доставка та оплата</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Контакти</a></li>
            </ul>
            <!-- english -->
            <ul class="footer__ul">
               <li class="footer__li"> <a class="footer__a" href="index.html#about">About water</a></li>
               <li class="footer__li"> <a class="footer__a" href="catalog.html">Catalog</a></li>
               <li class="footer__li"> <a class="footer__a" href="">For new clients</a></li>
               <li class="footer__li"> <a class="footer__a" href="">For bussines</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Delivery & Pay</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Contacts</a></li>
            </ul>
         </nav>
         <a href="tel:+380445029191" class="footer__phone">(044) 502-91-91</a>
      </div>
      <div class="footer__socials">
         <a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="footer__link" title="Facebook">
            <svg class="footer__svg" viewBox="0 0 24 24">
               <use xlink:href="img/icons/icons.svg#FacebookWhite" />
            </svg>
         </a>
         <a href="viber://chat?number=%2B380961712071" target="_blank" class="footer__link" title="Viber">
            <svg class="footer__svg" viewBox="0 0 26 25">
               <use xlink:href="img/icons/icons.svg#ViberWhite" />
            </svg>
         </a>
         <a href="https://t.me/TimSolo" target="_blank" class="footer__link" title="Telegram">
            <svg class="footer__svg" viewBox="0 0 25 26">
               <use xlink:href="img/icons/icons.svg#TelegramWhite" />
            </svg>
         </a>
      </div>
   </div>




   <button id="up" class="up">
      <svg class="up__svg" viewBox="0 0 50 50">
         <use xlink:href="img/icons/icons.svg#upArrow" />
      </svg>
   </button>
</footer>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="js/script.min.js"></script>
</body>

</html>