<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:image" content="/og-image.jpg">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	<meta property="og:description" content="Everything you need to know about the topic you are looking for">
	<meta property="og:url" content="http://example.com">
	<meta property="og:title"
		content="Питьевая вода &laquo;AVANA&raquo; - выбор серьезных современных людей, которым важна стабильность, престиж и безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.">



	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
	<link rel="stylesheet" href="css/style.min.css">
	<title>Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и безопасность
		во всех вопросах и, в первую очередь, в вопросах здоровья.</title>
</head>

<body>
	<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="index.html" class="header__logo" title="На главную">
				<svg class="logo" viewBox="0 0 145 55">
					<use xlink:href="img/icons/icons.svg#LogoBlue" />
				</svg>
			</a>
			<div class="header__text">
				<p class="header__schedule">Пн-пт:&nbsp;<span class="header__span">07:00 - 20:00</span></p>
				<p class="header__schedule">Сб:&nbsp;<span class="header__span">08:00 - 16:00</span></p>
				<p class="header__schedule">Вс:&nbsp;<span class="header__span">выходной</span></p>
				<p class="header__schedule header__schedule_ml">
					<svg class="header__scheduleSvg" viewBox="0 0 17 17">
						<use xlink:href="img/icons/icons.svg#LocationPin" />
					</svg>
					Только по Киеву
				</p>
			</div>
			<div class="header__links">
				<a href="tel:+380445029191" class="header__link" title="Позвонить сейчас">(044) 502-91-91</a>
				<button class="header__button" title="Мой аккаунт">
					<svg class="header__svg" viewBox="0 0 22 24">
						<use xlink:href="img/icons/icons.svg#Reg" />
					</svg>
					<svg class="header__svg header__svg_blue" viewBox="0 0 22 24">
						<use xlink:href="img/icons/icons.svg#RegBlue" />
					</svg>
				</button>

				<a href="cart.html" class="header__button" title="Корзина">
					<svg class="header__svg" viewBox="0 0 28 25">
						<use xlink:href="img/icons/icons.svg#Cart" />
					</svg>
					<svg class="header__svg header__svg_blue" viewBox="0 0 28 25">
						<use xlink:href="img/icons/icons.svg#CartBlue" />
					</svg>
					<div id="app3">

						<p class="header__counter" v-if="countProduct">
							{{countProduct}}
						</p>
					</div>



				</a>


				<div id="burger" class="burger" title="Меню">
					<span id="burgerline1" class="burger__line"></span>
					<span id="burgerline2" class="burger__line "></span>
					<span id="burgerline3" class="burger__line "></span>
				</div>


			</div>

			<div id="menu" class="menu menu__hidden">
				<a href="#" class="menu__link">Мой аккаунт</a>
				<a href="index.html#about" class="menu__link">О воде</a>
				<a href="catalog.html" class="menu__link">Каталог</a>
				<a href="#" class="menu__link">Бизнесу</a>
				<a href="#" class="menu__link">Новым клиентам</a>
				<a href="#" class="menu__link">Доставка и оплата</a>
				<a href="#" class="menu__link">Контакты</a>
			</div>


		</div>
	</div>
	<script src="https://unpkg.com/vue@latest"></script>
	<script src="https://unpkg.com/vue-select@latest"></script>
</header>
	<div id="anchor" class="anchor"></div>
	<section class="main">
		<div class="socials">
			<a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="socials__link"
				title="Facebook">
				<svg class="socials__svg" viewBox="0 0 24 24">
					<use xlink:href="img/icons/icons.svg#Facebook" />
				</svg>
				<svg class="socials__svg socials__svg_blue" viewBox="0 0 24 24">
					<use xlink:href="img/icons/icons.svg#FacebookBlue" />
				</svg>
			</a>
			<a href="viber://chat?number=%2B380961712071" target="_blank" class="socials__link" title="Viber">
				<svg class="socials__svg" viewBox="0 0 26 25">
					<use xlink:href="img/icons/icons.svg#Viber" />
				</svg>
				<svg class="socials__svg socials__svg_blue" viewBox="0 0 26 25">
					<use xlink:href="img/icons/icons.svg#ViberBlue" />
				</svg>
			</a>
			<a href="https://t.me/TimSolo" target="_blank" class="socials__link" title="Telegram">
				<svg class="socials__svg" viewBox="0 0 25 26">
					<use xlink:href="img/icons/icons.svg#Telegram" />
				</svg>
				<svg class="socials__svg socials__svg_blue" viewBox="0 0 25 26">
					<use xlink:href="img/icons/icons.svg#TelegramBlue" />
				</svg>
			</a>
		</div>
		<div class="container">
			<div id="main__slider" class="main__slider">

				<div class="main__item">
					<img class="main__img" src="img/Slider1.jpg" alt="">
					<div class="main__content">
						<div class="main__wrap">
							<p class="main__p">
								НАШИ АКЦИИ И СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ДЛЯ НОВЫХ КЛИЕНТОВ
							</p>
							<h1 class="main__h1">
								ЗАКАЖИ 1 БУТЫЛЬ НА ПРОБУ ЗА 1 ГРН
							</h1>
							<a href="catalog.html" class="main__btn btns">Хочу попробовать</a>
						</div>
					</div>
				</div>

				<div class="main__item">
					<img class="main__img" src="img/Slider2.jpg" alt="">
					<div class="main__content">
						<div class="main__wrap">
							<p class="main__p">
								НАШИ АКЦИИ И СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ДЛЯ НОВЫХ КЛИЕНТОВ
							</p>
							<h1 class="main__h1">
								ЗАКАЖИ 1 БУТЫЛЬ НА ПРОБУ ЗА 1 ГРН
							</h1>
							<a href="catalog.html" class="main__btn btns">Хочу попробовать</a>
						</div>
					</div>
				</div>

				<div class="main__item">
					<img class="main__img" src="img/Slider3.jpg" alt="">
					<div class="main__content">
						<div class="main__wrap">
							<p class="main__p">
								НАШИ АКЦИИ И СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ ДЛЯ НОВЫХ КЛИЕНТОВ
							</p>
							<h1 class="main__h1">
								ЗАКАЖИ 1 БУТЫЛЬ НА ПРОБУ ЗА 1 ГРН
							</h1>
							<a href="catalog.html" class="main__btn btns">Хочу попробовать</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="languages">
			<a href="#" class="languages__link">RU</a>
			<a href="#" class="languages__link">UA</a>
			<a href="#" class="languages__link">EN</a>
		</div>
	</section>

	<section class="delivery">
		<div class="container">
			<div class="delivery__wrap">
				<h3 class="delivery__h3 title__h3">
					заказать доставку авана - это легко
				</h3>
				<p class="delivery__p">
					Авана – это натуральная вода, которая уже 12 лет доставляется в офисы и дома Киева и Киевской
					области.
				</p>
				<div class="delivery__content">
					<div class="delivery__item item">
						<div class="item__wrap">
							<div class="item__img">
								<svg class="item__svg" viewBox="0 0 40 40">
									<use xlink:href="img/icons/icons.svg#pencil" />
								</svg>
							</div>
							<h4 class="item__title">
								Оформление
								заказа
							</h4>
						</div>
						<p class="item__text">
							Оформите заказ на сайте в любое время или по телефону в будние с 7 до 20, в субботу с 8 до
							16.
						</p>
					</div>
					<div class="delivery__arrow">
						<svg class="delivery__svg" viewBox="0 0 83 29">
							<use xlink:href="img/icons/icons.svg#Arrow" />
						</svg>
					</div>
					<div class="delivery__item item">
						<div class="item__wrap">
							<div class="item__img">
								<svg class="item__svg" viewBox="0 0 40 40">
									<use xlink:href="img/icons/icons.svg#phone" />
								</svg>
							</div>
							<h4 class="item__title">
								Звонок
								менеджера
							</h4>
						</div>
						<p class="item__text">
							Ожидайте звонок от менеджера для уточнения деталей. Или выберите “не перезванивать”.
						</p>
					</div>
					<div class="delivery__arrow">
						<svg class="delivery__svg" viewBox="0 0 83 29">
							<use xlink:href="img/icons/icons.svg#Arrow" />
						</svg>
					</div>
					<div class="delivery__item item">
						<div class="item__wrap">
							<div class="item__img">
								<svg class="item__svg" viewBox="0 0 40 40">
									<use xlink:href="img/icons/icons.svg#check" />
								</svg>
							</div>
							<h4 class="item__title">
								Подтверждение
								Заказа
							</h4>
						</div>
						<p class="item__text">
							Получите уведомление о подтверждении доставки и ожидайте звонка курьера.
						</p>
					</div>
					<div class="delivery__arrow">
						<svg class="delivery__svg" viewBox="0 0 83 29">
							<use xlink:href="img/icons/icons.svg#Arrow" />
						</svg>
					</div>
					<div class="delivery__item item">
						<div class="item__wrap">
							<div class="item__img">
								<svg class="item__svg" viewBox="0 0 40 40">
									<use xlink:href="img/icons/icons.svg#truck" />
								</svg>
							</div>
							<h4 class="item__title">
								Вода у
								двери
							</h4>
						</div>
						<p class="item__text">
							Курьер доставит воду до двери квартиры или офиса. В следующий раз просто нажмите “повторить
							заказ”.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="schedule">
		<div class="container">
			<div class="schedule__wrap">
				<div class="schedule__circle schedule__circle_big"></div>
				<div class="schedule__circle schedule__circle_middle"></div>
				<div class="schedule__circle schedule__circle_small"></div>
				<div class="schedule__content">
					<h3 class="schedule__h3 title__h3">
						График приема заказов
					</h3>
					<p class="schedule__article">
						Компания "Авана" гарантирует своевременную бесплатную доставку в любой район города, на любой
						этаж до Ваших дверей, и при необходимости водитель установит бутыль на кулер или подставку.
					</p>
					<div class="schedule__local">
						<div class="schedule__img">
							<svg class="schedule__svg" viewBox="0 0 46 46">
								<use xlink:href="img/icons/icons.svg#World" />
							</svg>
						</div>
						<div class="schedule__texts">
							<p class="schedule__text schedule__text_bold">
								Заказ на сайте - круглосуточно.
							</p>
						</div>
					</div>
					<div class="schedule__local">
						<div class="schedule__img">
							<svg class="schedule__svg" viewBox="0 0 46 46">
								<use xlink:href="img/icons/icons.svg#Clock" />
							</svg>
						</div>
						<div class="schedule__texts">
							<p class="schedule__text">
								Заказ по телефону и доставка:
							</p>
							<p class="schedule__text">
								Понедельник - пятница: <span class="schedule__text_bold"> 7:00 - 20:00</span>
							</p>
							<p class="schedule__text">
								Cуббота:<span class="schedule__text_bold"> 8:00 - 16:00</span>
							</p>
							<p class="schedule__text">
								Воскресенье:<span class="schedule__text_bold"> выходной</span>
							</p>
						</div>
					</div>
				</div>
				<div class="schedule__imgs">
					<img class="schedule__contentImg" src="img/ScheduleImg.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="purchase">
		<div class="container">
			<div class="purchase__wrap">
				<div class="purchase__rectangle purchase__rectangle_left"></div>
				<div class="purchase__rectangle purchase__rectangle_center"></div>
				<div class="purchase__rectangle purchase__rectangle_right"></div>
				<div class="purchase__items purchase__items_left">
					<a href="catalog.html" class="purchase__item purchase__item_big">
						<div class="purchase__imgs">
							<img class="purchase__img" src="img/Bottles.png" alt="">
						</div>
						<h3 class="purchase__h3 title__h3">
							заказать воду
						</h3>
					</a>
					<a href="catalog.html" class="purchase__btn btns">перейти в каталог</a>
				</div>
				<div class="purchase__items purchase__items_right">
					<a href="catalog.html" class="purchase__item purchase__item_middle">
						<div class="purchase__imgs">
							<img class="purchase__img" src="img/Cooler.png" alt="">
						</div>
						<h3 class="purchase__h3 title__h3">
							Выбрать кулер
						</h3>

					</a>
					<a href="catalog.html" class="purchase__item purchase__item_small">
						<div class="purchase__imgs ">
							<img class="purchase__img" src="img/Pomp.png" alt="">
						</div>
						<h3 class="purchase__h3 purchase__h3_justifyself title__h3">
							выбрать Помпу
						</h3>

					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<h3 class="about__h3 title__h3">мы заботимся о составе нашей воды</h3>
			<div class="about__wrap">
				<div class="about__item">
					<div class="about__content">
						<div class="about__wrap about__wrap_alignCenter">
							<div class="about__circle"></div>
							<p class="about__p">
								Сбалансированный минеральный состав, можно пить без ограничений, в любом возрасте.
							</p>
						</div>
					</div>
					<div class="about__content about__content_flexEnd about__content_borderCyan">
						<p class="about__p">
							Вода AVANA обогащенна озоном. Это идеально подходит для приготовления напитков и первых
							блюд.
						</p>
					</div>
				</div>
				<div class="about__imgs">
					<img src="img/Bottle.jpg" alt="" class="about__img">
				</div>
				<div class="about__item">
					<div class="about__content about__content_borderBlue">
						<p class="about__p">
							Мы контролируем кислотно-щелочной баланс воды PH – 7.3.
						</p>
					</div>
					<div class="about__content about__content_flexEnd">
						<div class="about__wrap about__wrap_alignCenter">
							<div class="about__circle"></div>
							<p class="about__p ">
								У AVANA правильная молекулярная формула, что делает ее аналогом талой.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="certificates">
		<div class="container">
			<h3 class="certificates__h3 title__h3">Сертификаты качества воды</h3>
			<div class="certificates__wrap">
				<a href="img/certificate_1.jpg" data-fancybox="gallery" class="certificates__link">
					<img src="img/certificate_1.jpg" alt="" class="certificates__img">
				</a>
				<a href="img/certificate_2.jpg" data-fancybox="gallery" class="certificates__link">
					<img src="img/certificate_2.jpg" alt="" class="certificates__img">
				</a>
				<a href="img/certificate_3.jpg" data-fancybox="gallery" class="certificates__link">
					<img src="img/certificate_3.jpg" alt="" class="certificates__img">
				</a>
			</div>
		</div>
	</section>

	<section class="subscribe">
	<div class="container" id="app4">
		<h4 class="subscribe__h4">Хочешь узнавать первым о наших акциях и новостях?</h4>
		<div class="subscribe__wrap">
			<input class="subscribe__input" type="email" placeholder="E-mail" v-model="mail">
			<button class="subscribe__btn" @click="createMail">подписаться</button>
		</div>
		<p class="subscribe__p">
			Подпишись на рассылку по нашим акциям и предложениям
		</p>
		<p class="subscribe__p subscribe__p_green" v-if="mailSend">
			Вы подписались, информация будет приходить на {{mail}}
		</p>
		<p class="subscribe__p subscribe__p_red" v-if="mailError">
			Вы ввели не корректный E-mail
		</p>
	</div>
	<div class="subscribe__circle subscribe__circle_size1"></div>
	<div class="subscribe__circle subscribe__circle_size2"></div>
	<div class="subscribe__circle subscribe__circle_size3"></div>
	<div class="subscribe__circle subscribe__circle_size4"></div>
	<div class="subscribe__circle subscribe__circle_size5"></div>
	<div class="subscribe__circle subscribe__circle_size6"></div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</section>

	<section class="seo">
		<div class="container">
			<p class="seo__content">
				CEO текст
			</p>
			<p class="seo__content">
				Бутилированная питьевая вода «AVANA» – это ежедневный вклад в Ваше здоровье. Когда чистая питьевая вода
				всегда под рукой, можно быть уверенным, что одна из самых важных составляющих здорового образа жизни
				полностью безопасна и приносит только пользу
			</p>
			<p class="seo__content">
				Питьевая вода «AVANA» - выбор серьезных современных людей, которым важна стабильность, престиж и
				безопасность во всех вопросах и, в первую очередь, в вопросах здоровья.
			</p>
		</div>
	</section>

	<footer class="footer">
   <div class="container">
      <div class="footer__wrap">
         <a href="index.html" class="footer__logo header__logo" title="На главную">
            <svg class="logo" viewBox="0 0 145 55">
               <use xlink:href="img/icons/icons.svg#LogoWhite" />
            </svg>
         </a>
         <nav class="footer__nav">
            <ul class="footer__ul">
               <li class="footer__li"> <a class="footer__a" href="index.html#about">О воде</a></li>
               <li class="footer__li"> <a class="footer__a" href="catalog.html">Каталог</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Новым клиентам</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Бизнесу</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Доставка и оплата</a></li>
               <li class="footer__li"> <a class="footer__a" href="">Контакты</a></li>
            </ul>
         </nav>
         <a href="tel:+380445029191" class="footer__phone">(044) 502-91-91</a>
      </div>
      <div class="footer__socials">
         <a href="https://www.facebook.com/tymofii.solomatin.545" target="_blank" class="footer__link" title="Facebook">
            <svg class="footer__svg" viewBox="0 0 24 24">
               <use xlink:href="img/icons/icons.svg#FacebookWhite" />
            </svg>
         </a>
         <a href="viber://chat?number=%2B380961712071" target="_blank" class="footer__link" title="Viber">
            <svg class="footer__svg" viewBox="0 0 26 25">
               <use xlink:href="img/icons/icons.svg#ViberWhite" />
            </svg>
         </a>
         <a href="https://t.me/TimSolo" target="_blank" class="footer__link" title="Telegram">
            <svg class="footer__svg" viewBox="0 0 25 26">
               <use xlink:href="img/icons/icons.svg#TelegramWhite" />
            </svg>
         </a>
      </div>
   </div>




   <button id="up" class="up">
      <svg class="up__svg" viewBox="0 0 50 50">
         <use xlink:href="img/icons/icons.svg#upArrow" />
      </svg>
   </button>
</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
	<script src="js/script.min.js"></script>
</body>

</html>